@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Dat lai mat khau thanh cong";
}

<h1>@ViewData["Title"]</h1>
<p>
  Ban da thay doi mat khau thanh cong. <a asp-page="./Login">Bam vao day de dang nhap</a>.
</p>
